---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <div class="max-w-xl px-8 py-12 lg:py-32">
      <button
        onClick="window.history.back()"
        type="button"
        class="text-black hover:text-blue">
        &larr; back
      </button>
      <img
        class="size-14 object-cover mt-12"
        src={frontmatter.image?.url}
        alt={frontmatter.image?.alt}
      />
      <h1 class="text-2xl text-black mt-12">
        {frontmatter.projectName}
      </h1>
      <div class="mt-12 prose-styles">
        <p>{frontmatter.description}</p>
        <dl class="divide-y">
          {
            frontmatter.website && (
              <div class="sm:grid sm:grid-cols-3 items-start">
                <p>Year</p>
                <div class="lg:col-span-2">
                  <p>
                    <time
                      datetime={frontmatter.pubDate.toString().slice(4, 15)}>
                      {frontmatter.pubDate.toString().slice(4, 15)}
                    </time>
                  </p>
                </div>
              </div>
            )
          }
          <div class="sm:grid sm:grid-cols-3 items-start">
            <p>Website</p>
            <ul class="lg:col-span-2">
              {
                frontmatter.website?.map((website) => (
                  <li>
                    <a
                      href={website.url}
                      rel="noopener noreferrer">
                      {website.name}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </dl>
        <slot />
      </div>
    </div>
  </section>
</BaseLayout>
